div#login h1 {
	
	text-align: center;
}

div#login h3 a {
	
	text-align: center;
}

div#register h2 {
	
	text-align: center;
}

h6 {
	
	font-size: 50%;
}

#map_to_select_coordinates_canvas {
  
  width: 100%;
  height: 300px;
  padding: 0px;
  background-color: #CCC;
}
